{% extends "base_generic.html" %}
{% load static %}
{% block title %}Список клиентов{% endblock %}

{% block content %}
<h2>Список клиентов</h2>

<a href="{% url 'client_create' %}" class="btn btn-primary">Добавить клиента</a>

<input type="text" id="search" placeholder="Поиск клиента" class="form-control" autofocus value="{{ request.GET.search }}">
<table id="client-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
        <th>Город</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for client in object_list %}
    <tr>
        <td>{{ client.pk }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.surname }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.city }}</td>
        <td>
            <a href="{% url 'client_detail' client.pk %}" class="action-link">Просмотр</a> |
            <a href="{% url 'client_edit' client.pk %}" class="action-link">Редактировать</a> |
            <a href="{% url 'client_delete' client.pk %}" class="action-link">Удалить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Клиенты не найдены.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Ваш JavaScript код для AJAX поиска
    $(document).ready(function() {
        $('#search').on('input', function() {
        var searchValue = $(this).val();

        $.ajax({
        url: '{% url "client_list" %}',
        data: {
        'search': searchValue
    },
    success: function(data) {
        var tableBody = $('#client-table tbody');
        tableBody.empty();  // Очищаем текущее содержимое таблицы

        if (data.length > 0) {
            $.each(data, function(index, client) {
                tableBody.append(
                    '<tr>' +
                    '<td>' + client.id + '</td>' +
                    '<td>' + client.name + '</td>' +
                    '<td>' + client.surname + '</td>' +
                    '<td>' + client.phone + '</td>' +
                    '<td>' + client.city + '</td>' +
                    '<td><a href="/clients/client/' + client.id + '/" class="action-link">Просмотр</a> | ' +
                    '<a href="/clients/client/' + client.id + '/edit/" class="action-link">Редактировать</a> | ' +
                    '<a href="/clients/client/' + client.id + '/delete/" class="action-link">Удалить</a></td>' +
                    '</tr>'
                );
            });
        } else {
            tableBody.append('<tr><td colspan="6">Клиенты не найдены.</td></tr>');
        }

        // Проверка авторизации и отображение уведомления
        if (!{{ is_authenticated|yesno:"true,false" }}) {
    $('#alert').show(); // Показываем уведомление, если пользователь не авторизован
    } else {
    $('#alert').hide(); // Скрываем уведомление, если пользователь авторизован
    }
    }
    });
    });
    });
</script>

<!-- Подключение CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/paginator.css' %}">
<style>
    #client-table td {
        padding: 10px; /* Увеличиваем отступы внутри ячеек */
    }

    .action-link {
        margin-right: 10px; /* Увеличиваем отступ между ссылками */
    }

    .action-link:last-child {
        margin-right: 0; /* Убираем последний отступ у последней ссылки */
    }
</style>

{% include 'clients/includes/paginator.html' %}
{% endblock %}
